@import url("https://fonts.googleapis.com/css2?family=Cardo&family=Lato&family=Merriweather&family=Montserrat&family=PT+Serif&family=Poppins&family=Raleway&display=swap");

:root{
 --black: #1f1f1f;
 --gray: #464646;
 --light-gray: #ccc;
 --white: #f5f5f5;
 --main-dark: #2C5F2D;
 --main-light: #97BC62FF;
}
*{
 /* border: 1px solid red; */
 font-family: montserrat;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 color: var(--black);
 font-weight: 400;
}
*:focus{
 transition: 0.3s;
 outline: none;
 box-shadow: 0 0 0px 3px var(--main-light) inset;
}
html{
 scroll-behavior: smooth;
}
body{
 width: 100%;
 background-color: var(--light-gray);
 border-left: 10px solid var(--main-dark);
}
.heading{
 color: var(--gray);
 font-weight: 600;
 font-size: 2.5em;
 font-family: poppins;
}
section{
 display: flex;
 flex-direction: column;
 align-items: center;
}

/* Navbar */
#nav-container{
 position: fixed;
 top: 0;
 left: 0;
 z-index: 999;
 padding: 0 4em;
 display: flex;
 justify-content: space-between;
 background-color: var(--white);
 width: 100%;
 height: 10vh;
 box-shadow: 0 0px 5px 1px var(--light-gray);
}
#navbar{
 /* float: right; */
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 height: 100%;
 /* width: 30%; */
 /* gap: max(15px); */
 width: 27em;
}
#logo-link{
 margin: auto 0;
 max-width: 3.5em;
 max-height: 3.5em;
 width: auto;
 height: auto;
}
#logo{
 width: 100%;
 height: 100%;
}
.nav-item{
 transition: 0.1s;
 padding: 10px;
 font-size: 1.3em;
 color: var(--gray);
 text-decoration: none;
 font-family: poppins;
}
.nav-item:hover{
 color: var(--main-light);
 transition: 0.3s;
}

/* Main section */
#main-section{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
 height: 90vh;
 padding: 10em 4em;
 margin-top: 10vh;
}
#main-content{
 display: flex;
 flex-direction: column;
 gap: 0.3em;
 /* border: 1px solid red; */
 width: 40em;
}
#mohamed{
 font-family: poppins;
 font-size: 3em;
 font-weight: 500;
 
}
h3{
 font-size: 1.5em;
 /* font-family: monospace; */
}
#welcome{
 width: 30em;
}

/* Skills */
#skills{
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: var(--white);
 padding: 2em 0;
 padding-bottom: 3em;
 gap: 2em;
}
#cards{
 display: flex;
 flex-direction: row;
 width: 100%;
 justify-content: space-around;
 padding: 0 4em;
 flex-wrap: wrap;
 gap: max(2em);
 row-gap: 5em;
}
.card{
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 padding: 2em 0;
 transition: 0.3s;
 width: 17.5em;
 height: 22.5em;
 /* border-radius: 10px; */
 /* box-shadow: 0 0 5px 1px var(--gray); */
 border: 1px solid var(--light-gray);
}
.card:hover{
 transform: scale(1.05);
 transition: 0.3s;
 box-shadow: 0 0 20px 1px var(--light-gray);
}
.badge{
 width: 80%;
}
.skill{
 font-family: poppins;
 /* font-weight: 600; */
 font-size: 2em;
 text-align: center;
}

/* Work */
#work{
 padding: 2em 0;
 padding-bottom: 3em;
 gap: 3em;
 background-color: var(--main-light);
}
#work h2{
 color: var(--black);
}
#projects{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 width: 90%;
 justify-content: space-around;
 row-gap: 3em;
}
.holder{
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: var(--black);
 border-radius: 0.8em;
 padding: 0 1em;
 padding-top: 1em;
 /* opacity: 0.8; */
}
.holder:hover{
 cursor: default;
}
.holder a img{
 width: 17.5em;
 border-radius: 0.5em;
}
.holder p{
 padding: 0.3em 0;
 padding-bottom: 0.5em;
 font-size: 1.2em;
 color: var(--white);
}
.holder:hover > p::before{
 content: "<";
 color: var(--main-light);
 margin: 0 0.2em;
 font-family: poppins;
 font-size: 0.8em;
 /* font-weight: 600; */
}
.holder:hover > p::after{
 /* transition: 1s; */
 content: "/>";
 color: var(--main-light);
 margin: 0 0.2em;
 font-family: poppins;
 font-size: 0.8em;
 /* font-weight: 600; */
}

/* Contact */
#contact{
 display: flex;
 flex-direction: column;
 padding: 2em 0;
 background-color: var(--black);
 gap: 3em;
}
#contact .heading{
 color: var(--white);
}
#contact-content{
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
}
input, textarea, button{
 transition: 0.3s;
 font-size: 1em;
 height: 3em;
 /* outline: none; */
 border: none;
 border-radius: 0;
 padding: 0.3em 0.5em;
}
#grid{
 display: grid;
 grid-template-rows: 1fr 1fr 3fr 2fr;
 grid-template-columns: 1fr 1fr;
 gap: 0.2em;
 width: 50%;
}
#subject, #message{
 grid-column-start: 1;
 grid-column-end: 3;
}
#message{
 height: 9em;
 padding-top: 0.6em;
}
button{
 margin-top: 0.3em;
 grid-column-start: 1;
 grid-column-end: 2;
 color: var(--white);
 background-color: transparent;
 border: 1px solid var(--white);
}
button:hover{
 cursor: pointer;
 color: var(--main-dark);
 background-color: var(--main-light);
 border: 1px solid var(--main-light);
}
#social{
 display: flex;
 flex-direction: column;
 gap: 0.5em;
 width: 20em;
 margin-bottom: 7em;
 margin-left: -7em;
}
.social-divs{
 display: flex;
 flex-direction: row;
 align-items: center;
}
.social-divs h3{
 color: var(--white);
 font-size: 1.2em;
}
.social-divs i{
 font-size: 1.5em;
 margin-right: 0.2em;
}
#icons{
 display: grid;
 grid-template-rows: 4em 4em;
 grid-template-columns: 4em 4em;
 gap: 0.5em;
}
i{
 transition: .5s;
 font-size: 4em;
 color: var(--white);
}
i:hover{
 cursor: pointer;
 color: var(--main-light);
 transition: .3s;
 margin-right: 0.5em;
}
/* a i:hover ~ h3{
 cursor: pointer;
 color: var(--main-light);
 transition: .3s;
 transform: translateX(0.5em); 
} */
 /* a h3:hover ~ i{
  cursor: pointer;
  color: var(--main-light);
  transition: .3s;
  transform: translateX(0.5em);

 } */
 
 .space{
  font-size: 1px;
  height: 1px;
 }

#main-btn{
 transition: 0.2s;
 text-decoration: none;
 color: var(--black);
 background-color: var(--main-light);
 /* border: 1px solid var(--main-dark); */
 padding: 0.5em;
 width: 9em;
 text-align: center;
 border-radius: 1em;
 /* font-weight: 600; */
 font-size: 1.2em;
 margin-top: 0.5em;
 font-family: poppins;
 opacity: 0.8;
}
#main-btn:hover{
 transition: 0.3s;
 opacity: 1;
}
